h1 {
  align-items: center;
  text-align: center;
  font-family: Garamond, serif;
}

body {
  align-items: center;
  text-align: center;
}

img {
  border: 2px solid black;
  max-width: 30%;
  height: auto;
}

button {
  background-color: navy;
  color: white;
  width: 25%;
  height: auto;
}
button:hover {
  cursor: pointer;
  background-color: navy;
  color: white;
  font-size: 16px;
  transition-duration: 0.6;
}

input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.9rem;
  margin: auto;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  width: 40%;
  display: block;
  border-bottom: solid black;
  transition: all 0.3s;
}
